img, video {
    height: auto;
    max-width: 100%;
}

.dialog-button {
    float: right;
    margin-bottom: 1em;
    margin-top: 1.5em;
}

.tab-icon {
    height: 24px; /* 24px is the fallback value of --iron-icon-height. */
    width: 24px; /* 24px is the fallback value of --iron-icon-width. */
}

#wave-details {
    margin: 1em 0;
}
